$color_dark_green: #001e1d;
$color_green: #004643;
$color_green_transparent_50: #00464380;
$color_light_green: #57817f;
$color_pale_green: #abd1c6;
$color_light_pale_green: #c0d1cd;
$color_pale_green_transparent: #d9d9d982;
$color_white: #fffffe;
$color_white_transparent: #fffffe21;
$color_yellow: #f9bc60;
