@import './variables';

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 125px;
  background: linear-gradient(to right, $color_dark_green, $color_green);
  color: $color_white;
  // transition: all 0.5s ease-in-out;

  .svg-container {
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-radius: 50%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    cursor: pointer;
  }
}
// .open {
//   .sidebar-menu {
//     display: unset;
//     // transform: translateX(0);
//     // background: linear-gradient(to right, $color_dark_green, $color_green);
//   }
//   .sidebar-items {
//     // visibility: visible;
//     // display: unset;
//     // transform: translateX(0);
//   }
// }
// .close {
//   .sidebar-menu {
//     // background-color: blue;
//     // background-color: navy;
//     // transform: translateX(125px);
//     display: none;
//   }
//   .svg-container {
//     color: $color_dark_green;
//   }
//   // .sidebar-items {
//   //   // visibility: hidden;
//   //   // display: none;
//   //   transform: translateX(-125px);
//   // }
// }

.sidebar-items {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 0 0.5rem;
  font-weight: bold;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a {
      padding: 10px 0;
    }
  }
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    // width: 100%;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
  }
  // transition: all 0.5s ease-in-out;
}

.active-item {
  background-color: $color_light_green;
  color: $color_dark_green;
}
