@import './variables';

.container {
  width: calc(100vw - 125px);
  height: 100vh;
  display: flex;
}

.video-container {
  width: 62%;
}

.player {
  width: 100%;
  height: 50%;
  padding: 40px;
}

// .chapters-container {
//   width: 38%;
//   background-color: $color_white_transparent;
//   //   opacity: 0.13;
// }
